<aside class="sidebar">
  <div class="sidebar__logo"><img src="" alt="Company name" /></div>
  <nav class="sidebar__nav">
    <ul class="sidebar__section">
      <li><a href="" class="sidebar__link">Link 1</a></li>
      <li><a href="" class="sidebar__link">Link 2</a></li>
    </ul>
  </nav>
</aside>
