<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estructura base</title>
  </head>
  <body>
    {% include '../organisms/header.twig' %}
    {% block body %}{% endblock %}
    {% include '../molecules/cookies-advice.twig' %}
    {% include '../organisms/footer.twig' %}
  </body>
</html>
